@font-face {
    font-family: 'Herreweb';
    src: url('static/ring_of_races_font.ttf') format('tff');
    /* You can add additional font formats (e.g., ttf, eot) for better compatibility */
}

body {
    background-color: rgb(228, 218, 210);
    color: white;
    font-family: 'Herreweb', sans-serif;
}

.main-container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    /* font-family: 'Times New Roman', serif; */
    font-size: 36px;
    margin-top: 20px;
}

/* .folder-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
} */

.document-button {
    width: 200px;
    height: 300px;
    margin: 4%;
    background-color: #bda99b; /* Dark SaddleBrown color */
    border: 2px solid #8B4513;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: rgb(17, 5, 5);
}

/* Add a subtle shadow for depth */
.document-button:hover {
    transition: all 0.3s ease;
    width: 200px;
    height: 300px;
    margin: 4%;
    background-color: #8B4513; /* Dark SaddleBrown color */
    border: 2px solid #8B4513;
    background:
        repeating-linear-gradient(in hsl longer hue, rgb(85, 48, 25), rgb(148, 94, 50) 50px);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: white;
}